<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 id="countdown">10</h1>
  </div>
  <div class="col-md-4"></div>
</div>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button type="button" class="btn btn-outline-primary" onclick="saveMyGame()">Save play</button>
  </div>
  <div class="col-md-4"></div>
</div>

<br>

<div id="plays">
  <%= render 'table' %>
</div>