<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<% if @game.images.attached? %>
  <p>
    <strong>Images:</strong>
    <br>
    <% @game.images.each do |image| %>
      <h1> <% rails_blob_url(image) %></h1>
      <%= image_tag image.variant(resize: "100x100") %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>